.product-container{
    background-color: #f5f5f7;
    padding: 20px;
}
.product-card{
    width: 350px;
    height: 500px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-image{
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.product-image img{
    width: 100%;
}
.product-allDetails{
    height: 200px;
    display: flex;
    flex-direction: column;
justify-content: space-between;
}
.product-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-button{
    width: 100%;
    margin: 10px;
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    background-color: #fc2424;
    border-radius: 5px;
    color: #fff;
}
.product-button:hover{
    background-color: #bf0f0f;
    cursor: pointer;
    transition: all .4s;
}
.product-bottom {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
  }
  
  .product-bottom > * {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
  }

.product-top{
    margin-bottom: 20px;
}
.product-map{
    display: flex;
}